<DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
    body {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; 
    }
    h3 {
      text-align: center;
    }
    </style>
  </head>
  <body>
    <h3>Welcome to the bar!</h3>
    <h3>We're happy to see you here!</h3>
  </body>
</html>
